<div id="login-form">
  
  <form class="form-flex" action="/auth/login" method="POST">
    <h2 class="title">Log In</h2>
    <label>
      Email
      <input class="input" type="email" name="email" placeholder="Your email" />
    </label>

    <label>
      Password
      <input class="input" type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit" class="button btn btn-secondary btn-lg">LOGIN</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

</div>

