<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <label>
      firstName
      <input type="text" name="firstName" placeholder="Your firstName" />
    </label>

    <label>
      lastName
      <input type="text" name="lastName" placeholder="Your lastName" />
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Sign Up</button>

  </form>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>