<div id="login-form">
  
  <form class="form-flex" action="/auth/signup" method="POST">
    <h2 class="title">Sign Up</h2>
    <label>First name
      <input class="input" type="text" name="firstName" placeholder="Your firstName" />
    </label>

    <label>Last name
      <input class="input" type="text" name="lastName" placeholder="Your lastName" />
    </label>

    <label>Email
      <input class="input" type="email" name="email" placeholder="Your email" />
    </label>

    <label>Password
      <input class="input" type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit" class="button btn btn-secondary btn-lg">SIGN UP</button>
  </form>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>