<h1>Profile</h1>



<form action="/babysitter" method="post">
<label for="firstName">First name: </label>
<input type="text" name="firstName">

<label for="lastName">Last name: </label>
<input type="text" name="lastName">

<label for="email">Email: </label>
<input type="text" name="email">

<label for="password">Password: </label>
<input type="text" name="password">

<label for="phoneNumber">Phone number: </label>
<input type="text" name="phoneNumber">

<label for="image">Image: <input type="file" name="image"> </label>

<label for="age">Age: </label>
<input type="text" name="age">

<label for="experience">Experience: </label>
<textarea name="experience" id="experience" cols="30" rows="10"></textarea>

<label for="criminalRecord">Criminal record: <input type="file" name="criminalRecord"> </label>

<label for="language">Spoken languages: </label>
<input type="text" name="language">

<label for="area">Area: </label>
<input type="text" name="area">

<button type="submit">Submit</button>
</form>