<div>
    
     <form action="changePassword" method="post" name="changePassword" id="">

     <h2>Change Password</h2>

      <label for="password">New Password
        <input class="input" type="password" name="password" id="password">
    </label>

     <input type="checkbox" onclick="showPassword()">Show Password

      <label for="password">Confirm Password
        <input class="input" type="password" name="confirmPassword" id="confirmPassword">
    </label>

    <button type="submit" class="button btn btn-secondary btn-lg" id="submitButton" onclick="validateSignupForm()">CHANGE</button>

    </form>

</div>
