<div>

  <form
    class="form-flex"
    action="/client-create"
    method="post"
    enctype="multipart/form-data"
  >
    <h1 class="title">Client's form</h1><br /><br />

    <label for="phoneNumber">Phone number </label>
    <input class="input" type="text" name="phoneNumber" />

    <label for="image">Image: </label><input
      class="input"
      type="file"
      name="image"
    />

    <label for="location">Location </label>
    <input class="input" type="text" name="location" />
    <br /><br />

    <button
      type="submit"
      class="button btn btn-secondary btn-lg"
    >SUBMIT</button>
  </form>

</div>