<div>

<form class="form-flex" action="/client-create" method="post" enctype='multipart/form-data'>
    <h1 class="title">Client's form</h1><br><br>
    
    <label for="firstName">First name
        <input class="input" type="text" name="firstName"  id="firstName" value="{{firstName}}">
    </label>
    

    <label for="lastName">Last name
        <input class="input" type="text" name="lastName" id="lastName" value="{{lastName}}">
    </label>
    
    <label for="email">Email
        <input class="input" type="email" name="email" id="email" value="{{email}}">
    </label>
    
    <label for="phoneNumber">Phone number
        <input class="input" type="text" name="phoneNumber">
    </label>
    
    <label for="image">Image: <input class="input" type="file" name="image"> </label>

    <label for="area">Area
        <input class="input"type="text" name="area">
    </label><br><br>
    
    <button type="submit" class="button btn btn-secondary btn-lg">SUBMIT</button>
</form>

</div>