<h1>Client</h1>

<form action="/client" method="post">
<label for="firstName">First name: </label>
<input type="text" name="firstName">

<label for="lastName">Last name: </label>
<input type="text" name="lastName">

<label for="email">Email: </label>
<input type="text" name="email">

<label for="password">Password: </label>
<input type="text" name="password">

<label for="phoneNumber">Phone number: </label>
<input type="text" name="phoneNumber">

<label for="image">Image: <input type="file" name="image"> </label>

<label for="area">Area: </label>
<input type="text" name="area">

<button type="submit">Submit</button>
</form>