<div>
  
  <form class="form-flex" action="/options" method="post">
  <h1 class="title">Apply as a babysitter or look for one?</h1>
    <select name="accountType" id="accountType">
      <option class="input" value="default">Choose a type</option>
      <option class="input" value="client">Look for one babysitter</option>
      <option class="input" value="babysitter">Be a babysitter</option>
    </select>
    <button type="submit" class="button btn btn-secondary btn-lg">SUBMIT</button>
  </form>

</div>