<h1>jsjsj</h1>

<form action="/options" method="post">
  <select name="accountType" id="accountType">
    <option value="default">Choose a type</option>
    <option value="client">Client</option>
    <option value="babysitter">Babysitter</option>
  </select>
  <button type="submit">choose</button>
</form>