<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">2º</th>
      <th scope="col">3º</th>
      <th scope="col">4º</th>
      <th scope="col">5º</th>
      <th scope="col">6º</th>
      <th scope="col">Sá</th>
      <th scope="col">Do</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Morning</th>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">Afternoon</th>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">Night</th>
      <td colspan="2"><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
      <td><input type="checkbox" id="available" name="checkbox"></td>
    </tr>
  </tbody>
</table>