<section>
    <div class="container-image">
        <img class="background-image" src="/images/default-header.jpg" alt="background-image">
        <div class="text-image">
            <h1>Welcome to the best platform of Babysitters</h1>
        </div> 
    </div>
    <div>
        <h3>Here akakakaka a akakak kakaka</h3>
    </div>
    <div>
        <h3>Ours priorities</h3>
        <ul>
            <li>um</li>
            <li>dois</li>
            <li>tres</li>
            <li>quatro</li>
        </ul>
    </div>
    <div>
        <h3>How it works</h3>
        <ul>
            <li>um</li>
            <li>dois</li>
            <li>tres</li>
        </ul>
        <h4>check our rules</h4>
    </div>
</section>