<section>
    <div class="container-image">
        <img class="background-image" src="/images/mother-child-babysitter.jpeg" alt="background-image">
        <div class="text-image">
            <h1>Welcome to the best platform of Babysitters</h1>
        </div> 
    </div>
    <div class="col">
        <h3>Ours priorities</h3>
        <div class="row card-group">
        <div class="card card-home" style="width: 18rem;">
  <img src="/images/huge-hands-help-protect-young-single-mother.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Your children's safety is our top priority</p>
    </div>
  </div>
   <div class="card card-home" style="width: 18rem;">
  <img src="/images/money.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">For families at an affordable price</p>
    </div>
  </div>
   <div class="card card-home" style="width: 18rem;">
  <img src="/images/testimonials.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Recommendations and reviews</p>
    </div>
  </div>
</div>
    </div>
    <div class="col">
        <h3>How it works</h3>
        <div class="row card-group">
        <div class="card card-home" style="width: 18rem;">
  <img src="/images/search.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Filter based on your needs and find detailed profiles.</p>
    </div>
  </div>
   <div class="card card-home" style="width: 18rem;">
  <img src="/images/babysitter-meeting.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Send messages, find users and hold an introductory meeting.</p>
    </div>
  </div>
   <div class="card card-home" style="width: 18rem;">
  <img src="/images/girl-checking-her-meeting.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Schedule an appointment, pay for the service.</p>
    </div>
  </div>
</div>
    </div>
   
</section>