<img src="public/images/404-error-page.jpeg" alt="404 Error Page Not Found">
<button type="submit" class="button btn btn-secondary btn-lg"><a href="/">Back Home</a></button>

{{!-- <h1>404 Error</h1>
<h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened
</h2> --}}